
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	background-color: pink
	padding: 210px;
	text-align: center;
}
.buttonStyle {
	border-radius: 30px;
	border: thin solid #F0E020;
	padding: 10px;
	background-color: pink;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 120px;
	font-size: 10px
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: blue;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: yellow;
	color: #669900;
	cursor: cursor;
}

{	
	table
	border-collapse: collapse
}

